{% extends 'base.html' %} {% block title %}Home{% endblock %} {% block content %} {% if user.is_authenticated and user.auctionuser.is_verified %}
<div>
  <div id="notification" style="text-align:center">Hi {{ user.username }}! Welcome to Auction App!!</div>
  <p style="float: left;margin: 10px;"><a class="btn btn-primary" href="{% url 'newitem' %}">Add Item</a></p>
  <p style="float: left;margin: 10px;"><a class="btn btn-primary" href="{% url 'logout' %}">Shopping</a></p>
  <p style="float: right;margin: 10px;"><a class="btn btn-primary" id="stop">Stop Auction</a></p>

  <!-- Button trigger modal -->
  <button style="float: right;margin: 10px;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Start Auction
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Start Auction</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <label>Stop Bid:</label>
          <input type="number" id="stopbid"></input>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="start">Start</button>
        </div>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table">
      <tr>
        <th></th>
        <th>Owner</th>
        <th>New Owner</th>
        <th>State</th>
        <th>Price</th>
        <th>Title</th>
        <th>Item Type</th>
        <th>Description</th>
        <th>Bid Type</th>
        <th>Starting</th>
        <th>Min Bid</th>
        <th>Image</th>
        <th>Stop Bid</th>
        <th>Current Bid</th>
        <th>Last Bidder</th>
        <th>Decremented</th>
      </tr>
      {% for r in items %}
      <tr>
        <td>
          <div class="radio">
            <label><input type="radio" id="{{ r.id }}" name="optradio"/></label>
          </div>
        </td>
        <td>
          <div class="radiotext">
            <label for="{{ r.id }}">{{ r.owner }}</label>
          </div>
        </td>
        <td>
          <div class="radiotext">
            <label for="{{ r.id }}">{{ r.newowner }}</label>
          </div>
        </td>
        <td>
          <div class="radiotext">
            <label for="{{ r.id }}">{{ r.state }}</label>
          </div>
        </td>
        <td>
          <div class="radiotext">
            <label for="{{ r.id }}">{{ r.price}}</label>
          </div>
        </td>
        <td>
          <div class="radiotext">
            <label for="{{ r.id }}">{{ r.title }}</label>
          </div>
        </td>
        <td>
          <div class="radiotext">
            <label for="{{ r.id }}">{{ r.itemtype}}</label>
          </div>
        </td>
        <td>
          <div class="radiotext">
            <label for="{{ r.id }}">{{ r.description }}</label>
          </div>
        </td>
        <td>
          <div class="radiotext">
            <label for="{{ r.id }}">{{ r.bidtype }}</label>
          </div>
        </td>
        <td>
          <div class="radiotext">
            <label for="{{ r.id }}">{{ r.starting}}</label>
          </div>
        </td>
        <td>
          <div class="radiotext">
            <label for="{{ r.id }}">{{ r.minbid}}</label>
          </div>
        </td>
        <td>
          <div class="radiotext">
            <label for="{{ r.id }}">{{ r.image}}</label>
          </div>
        </td>
        <td>
          <div class="radiotext">
            <label for="{{ r.id }}">{{ r.stopbid}}</label>
          </div>
        </td>
        <td>
          <div class="radiotext">
            <label for="{{ r.id }}">{{ r.currentbid}}</label>
          </div>
        </td>
        <td>
          <div class="radiotext">
            <label for="{{ r.id }}">{{ r.lastbidder}}</label>
          </div>
        </td>
        <td>
          <div class="radiotext">
            <label for="{{ r.id }}">{{ r.decremented}}</label>
          </div>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
  <p style="float: right;margin: 10px;"><a class="btn btn-secondary" href="{% url 'change_password' %}">Password Reset</a></p>
  <p style="float: right;margin: 10px;"><a class="btn btn-secondary" href="{% url 'logout' %}">Log Out</a></p>
</div>


<script>
  // yanit idli linke tıklanırsa çalış
  $(document).ready(function() {
    $('#start').on('click', function (event) {
      var stopbid = $("#stopbid").val();
      var itemid = $('input[name="optradio"]:checked').attr("id");
      console.log(stopbid)
      console.log(itemid)
      $.ajax({
          url: "{% url 'startauction' %}",
          method: 'POST',
          dataType: 'json',
          data: {
            csrfmiddlewaretoken: "{{ csrf_token }}",
            stopbid: stopbid,
            itemid:itemid,
          }
      }).done(function (response) {
          $('#exampleModal').modal('toggle');
          $('#notification').text(response.msg);
      });
      event.preventDefault();
    });
  });
</script>

{% elif user.is_authenticated and not user.auctionuser.is_verified %}
<p>Your account is not verified</p>
<form action="{% url 'verify' %}" method="post">
  <input id="verification_code" type="text" name="verification_code" placeholder="Verification Code" />
  {% csrf_token %} {{ form.as_p }}
  <button class="btn" type="submit">Verify</button>
</form>
{% else %}
<div style="margin: auto;width: intrinsic;">
<p>You are not logged in</p>
<a class="btn btn-primary" href="{% url 'login' %}">Login</a>
<a class="btn btn-primary" href="{% url 'signup' %}">Register</a>
{% endif %} {% endblock %}
</div>
