{% extends 'base.html' %}
{% block title %}Home
{% endblock %}
{% block content %}
    <head>
        <script crossorigin="anonymous" src="https://kit.fontawesome.com/dbef93ebb0.js"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">

            <style>
            ::-webkit-input-placeholder {
                text-align: center;
            }

            :-moz-placeholder {
                /* Firefox 18- */
                text-align: center;
            }

            ::-moz-placeholder {
                /* Firefox 19+ */
                text-align: center;
            }

            :-ms-input-placeholder {
                text-align: center;
            }
            .notification.icon {
                position: relative;
                font-size: 1em;
                height: 40px;
            }
            .notification.icon .notification-number {
                position: absolute;
                right: -5px;
                top: -15px;
                z-index: 1;
                background: #cc2311;
                border: 3px solid #FFF;
                border-radius: 50%;
                padding-top: 5px;
                height: 25px;
                width: 25px;
                font-family: sans-serif;
                text-align: center;
                font-size: 15px;
                font-weight: 700;
                line-height: 10px;
                color: #FFF;
                /* -webkit-animation: bounce 1s;*/
            }

            @-webkit-keyframes bounce {
                0,
                100%,
                20%,
                53%,
                80% {
                    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
                    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
                    -webkit-transform: translate3d(0, 0, 0);
                    -ms-transform: translate3d(0, 0, 0);
                    transform: translate3d(0, 0, 0);
                }
                40%,
                43% {
                    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
                    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
                    -webkit-transform: translate3d(0, -30px, 0);
                    -ms-transform: translate3d(0, -30px, 0);
                    transform: translate3d(0, -30px, 0);
                }
                70% {
                    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
                    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
                    -webkit-transform: translate3d(0, -15px, 0);
                    -ms-transform: translate3d(0, -15px, 0);
                    transform: translate3d(0, -15px, 0);
                }
                90% {
                    -webkit-transform: translate3d(0, -4px, 0);
                    -ms-transform: translate3d(0, -4px, 0);
                    transform: translate3d(0, -4px, 0);
                }
            }
        </style>
    </head>
    <div>
        <div class="row" style="display:flex;justify-content:flex-end;margin-right:2%">
            <p style="float: right;margin: 10px;">
                <a class="btn btn-secondary" href="{% url 'change_password' %}">
                    <i class="fa fa-key"></i>
                    Password
                                                                                          Reset</a>
            </p>
            <p style="float: right;margin: 10px;">
                <a class="btn btn-secondary" href="{% url 'logout' %}">
                    <i class="fa fa-sign-out"></i>
                    Log Out</a>
            </p>
        </div>
        <div class="row" id="notification" style="border-style:solid;border-color:rgb(0,125,251); border-width: 5px;;display:flex;justify-content:center;align-items:center;">
            Hi
            {{ user.username }}!
                                        Welcome to Auction App!!
        </div>
        <div class="row" style="display:flex;justify-content:center;align-items:center">
            <p style="float: left;margin: 10px;">
                <a class="btn btn-primary" href="{% url 'newitem' %}">
                    <i class="fa fa-plus"></i>
                    Add Item</a>
            </p>
            <p style="float: left;margin: 10px;">
                <a class="btn btn-primary" href="{% url 'market' %}">
                    <i class="fa fa-shopping-basket"></i>
                    Shopping</a>
            </p>
            <button class="btn btn-primary" data-target="#exampleModal3" data-toggle="modal" style="float: left;margin: 10px;" type="button">
                <i class="fa fa-eye"></i>
                Watch
            </button>

            <button class="btn btn-primary notification icon" data-target="#exampleModal2" data-toggle="modal" id="notify" style="float: left;margin: 10px;" type="button">
                <i class="fa fa-flag"></i>
                Notifications
                <span class="notification-number" id="notification-count"></span>
            </button>
            <button class="btn btn-primary" data-target="#exampleModal4" data-toggle="modal" id="history" style="float: right;margin: 10px;" type="button">
                <i class="fa fa-history"></i>
                Item History
            </button>
            <button class="btn btn-primary" data-target="#exampleModal5" data-toggle="modal" id="report" style="float: right;margin: 10px;" type="button">
                <i class="fa fa-file"></i>
                Get Report
            </button>
            <p class="btn btn-primary" style="float: right;margin: 10px;">
                <a id="sell">
                    <i class="fa fa-handshake"></i>
                    Sell Item</a>
            </p>

            <button class="btn btn-primary" data-target="#exampleModal" data-toggle="modal" id="startauc" style="float: right;margin: 10px;" type="button">
                <i class="fa fa-flag-checkered"></i>
                Start Auction
            </button>
            <button class="btn btn-primary" data-target="#exampleModal" data-toggle="modal" id="addbalance" style="float: right;margin: 10px;" type="button">
                <i class="fa fa-money-bill"></i>
                Add Balance
            </button>

        </div>
        <div class="row" style="display:flex;justify-content:center;align-items:center">
            <h4 style="margin: 10px;">Balance:
                {{ user.auctionuser.balance }}</h4>
            <h4 style="margin: 10px;">Reserved Balance:
                {{ user.auctionuser.reservedbalance }}</h4>


        </div>

        <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal" role="dialog" tabindex="-1">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Start Auction</h5>
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <label id="modaltext">Stop Bid:</label>
                        <input id="modelvalue" type="number"></input>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                        <button class="btn btn-primary" id="start" type="button">Start</button>
                    </div>
                </div>
            </div>
        </div>

        <div aria-hidden="true" aria-labelledby="exampleModalLabel2" class="modal fade" id="exampleModal2" role="dialog" tabindex="-1">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel2">Notifications</h5>
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="modal-notification"></div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div aria-hidden="true" aria-labelledby="exampleModalLabel3" class="modal fade" id="exampleModal3" role="dialog" tabindex="-1">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel3">Watch</h5>
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="modal-notification">
                        <label id="modaltext">Item Type:</label>
                        <input id="itemtype" type="text"></input>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                        <button class="btn btn-primary" id="watch" type="button">Watch</button>

                    </div>
                </div>
            </div>
        </div>

        <div aria-hidden="true" aria-labelledby="exampleModalLabel4" class="modal fade" id="exampleModal4" role="dialog" tabindex="-1">
            <div class="modal-dialog" role="document" style="margin: 0px;
                                                                                                max-width: 100%;
                                                                                                margin-top: 80px;">
                <div class="modal-content" style="width: 100%;">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel4">Item History</h5>
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="modal-notification">
                        <div class="modal-body" id="modal-history"></div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div aria-hidden="true" aria-labelledby="exampleModalLabel5" class="modal fade" id="exampleModal5" role="dialog" tabindex="-1">
            <div class="modal-dialog" role="document" style="margin: 0px;
                                                                                                max-width: 100%;
                                                                                                margin-top: 80px;">
                <div class="modal-content" style="width: 100%;">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel5">User Report</h5>
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="modal-notification">
                        <div class="modal-body" id="modal-report"></div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <input class="form-control" id="myInput" placeholder="Search.." type="text">
            <br>
                <div class="table-responsive">
                    <table class="table" style="overflow-x:scroll;display:block;white-space: nowrap;">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Owner</th>
                                <th>New Owner</th>
                                <th>State</th>
                                <th>Price</th>
                                <th>Title</th>
                                <th>Item Type</th>
                                <th>Description</th>
                                <th>Bid Type</th>
                                <th>Starting</th>
                                <th>Min Bid</th>
                                <th>Stop Bid</th>
                                <th>Period</th>
                                <th>Delta</th>
                                <th>Stop</th>
                                <th>Current Bid</th>
                                <th>Last Bidder</th>
                                <th>Decremented</th>
                            </tr>
                        </thead>
                        <tbody id="myTable">
                            
                        </tbody>
                    </table>
                </div>


            </div>
            <script>
              
                
                $(document).ready(function () {
                  var checkedid;
                  var notmess = []
                    $.ajax({
                        url: "{% url 'notify' %}",
                        method: 'POST',
                        dataType: 'json',
                        data: {
                            csrfmiddlewaretoken: "{{ csrf_token }}"
                        }
                    }).done(function (response) {
                        notmess = []
                        response.msg.forEach(msg => notmess.push(msg))
                    });
                    
                    $("#notification-count").html(notmess.filter(msg => msg.isread === false).length);
                    $('#start').on('click', function (event) {
                        if ($(this).text() === "Start") {
                            var stopbid = $("#modelvalue").val();
                            var itemid = checkedid;
                            console.log(itemid)
                            $.ajax({
                                url: "{% url 'startauction' %}",
                                method: 'POST',
                                dataType: 'json',
                                data: {
                                    csrfmiddlewaretoken: "{{ csrf_token }}",
                                    stopbid: stopbid,
                                    itemid: itemid
                                }
                            }).done(function (response) {
                                $('#exampleModal').modal('toggle');
                                $('#notification').text(response.msg);
                            });
                            event.preventDefault();
                        } else {
                            var amount = $("#modelvalue").val();
                            $.ajax({
                                url: "{% url 'addbalance' %}",
                                method: 'POST',
                                dataType: 'json',
                                data: {
                                    csrfmiddlewaretoken: "{{ csrf_token }}",
                                    amount: amount
                                }
                            }).done(function (response) {
                                $('#exampleModal').modal('toggle');
                                $('#notification').text(response.msg);
                            });
                            event.preventDefault();
                        }
                    });
                    $('#sell').on('click', function (event) {
                        var itemid = checkedid;
                        $.ajax({
                            url: "{% url 'sellitem' %}",
                            method: 'POST',
                            dataType: 'json',
                            data: {
                                csrfmiddlewaretoken: "{{ csrf_token }}",
                                itemid: itemid
                            }
                        }).done(function (response) {
                            console.log(response)
                            $('#notification').text(response.msg);
                        });
                        event.preventDefault();
                    });
                    $("#myInput").on("keyup", function () {
                        var value = $(this).val().toLowerCase();
                        $("#myTable tr").filter(function () {
                            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                        });
                    });
           
                $('#addbalance').on('click', function (event) {
                    var modaltitletxt = $('#exampleModalLabel')
                    modaltitletxt.text("Add Balance")
                    var modaltxt = $('#modaltext')
                    modaltxt.text("Balance Amount:")
                    var modelbuttontxt = $('#start')
                    modelbuttontxt.text("Add")
                    event.preventDefault();
                });
                $('#notify').on('click', function (event) {
                    $.ajax({
                        url: "{% url 'notify' %}",
                        method: 'POST',
                        dataType: 'json',
                        data: {
                            csrfmiddlewaretoken: "{{ csrf_token }}"
                        }
                    }).done(function (response) {
                        $('#modal-notification').html("")
                        response.msg.sort(function (a, b) {
                            return a.isread - b.isread
                        });
                        response.msg.forEach(element => {
                            if (element.isread === false) {
                                $('#modal-notification').append("<div style='text-align:left;border:1px solid black;background-color:blue'>-" + element.notification + "</div>")
                            } else {
                                $('#modal-notification').append("<div style='text-align:left;border:1px solid black;'>-" + element.notification + "</div>")
                            }
                        });
                    });
                    $.ajax({
                        url: "{% url 'readnotify' %}",
                        method: 'POST',
                        dataType: 'json',
                        data: {
                            csrfmiddlewaretoken: "{{ csrf_token }}"
                        }
                    })
                    event.preventDefault();
                });
                
                $("#myTable").on("click",".table-radio",function(){
                  var radioValue = $("input[name='optradioT']:checked");
                  if(radioValue){
                      checkedid = radioValue.attr('id')
                  }
              });

                
                setInterval(function () {
                    $.ajax({
                        url: "{% url 'notify' %}",
                        method: 'POST',
                        dataType: 'json',
                        data: {
                            csrfmiddlewaretoken: "{{ csrf_token }}"
                        }
                    }).done(function (response) {
                        notmess = []
                        response.msg.forEach(msg => notmess.push(msg))

                    });
                    $("#notification-count").html(notmess.filter(msg => msg.isread === false).length);
                    
                    
                    $.ajax({
                      url: "{%url 'getUserItems' %}",
                      method: 'POST',
                      dataType: 'json',
                      data: {
                        csrfmiddlewaretoken: "{{ csrf_token }}"
                      }
                    }).done(function (response){
                      //Table refresh

                      appendhtml = "";
                      response.msg.forEach(item=>{
                        radiohtml="";
                        if(parseInt(checkedid)===parseInt(item.id)){
                          radiohtml = "<td><div class='radio'><label><input class='table-radio' type='radio' id='"+item.id+"' name='optradioT' checked/></label></div></td>"
                        }else{
                          radiohtml = "<td><div class='radio'><label><input class='table-radio' type='radio' id='"+item.id+"' name='optradioT'/></label></div></td>"
                        }
                        itemhtml = "<tr class='deneme'>"+
                          radiohtml+
                          "<td><div class='radiotext'><label for='"+ item.id +"'>"+item.owner+"</label></div></td>"+
                          "<td><div class='radiotext'><label for='"+ item.id +"'>"+item.newowner+"</label></div></td>"+
                          "<td><div class='radiotext'><label for='"+ item.id +"'>"+item.state+"</label></div></td>"+
                          "<td><div class='radiotext'><label for='"+ item.id +"'>"+item.price+"</label></div></td>"+
                          "<td><div class='radiotext'><label for='"+ item.id +"'>"+item.title+"</label></div></td>"+
                          "<td><div class='radiotext'><label for='"+ item.id +"'>"+item.itemtype+"</label></div></td>"+
                          "<td><div class='radiotext'><label for='"+ item.id +"'>"+item.description+"</label></div></td>"+
                          "<td><div class='radiotext'><label for='"+ item.id +"'>"+item.bidtype+"</label></div></td>"+
                          "<td><div class='radiotext'><label for='"+ item.id +"'>"+item.starting+"</label></div></td>"+
                          "<td><div class='radiotext'><label for='"+ item.id +"'>"+item.minbid+"</label></div></td>"+
                          "<td><div class='radiotext'><label for='"+ item.id +"'>"+item.stopbid+"</label></div></td>"+
                          "<td><div class='radiotext'><label for='"+ item.id +"'>"+item.period+"</label></div></td>"+
                          "<td><div class='radiotext'><label for='"+ item.id +"'>"+item.delta+"</label></div></td>"+
                          "<td><div class='radiotext'><label for='"+ item.id +"'>"+item.stop+"</label></div></td>"+
                          "<td><div class='radiotext'><label for='"+ item.id +"'>"+item.currentbid+"</label></div></td>"+
                          "<td><div class='radiotext'><label for='"+ item.id +"'>"+item.lastbidder+"</label></div></td>"+
                          "<td><div class='radiotext'><label for='"+ item.id +"'>"+item.decremented+"</label></div></td>"+
                          "</tr>";
                          appendhtml += itemhtml
                      });
                      
                      $("#myTable").html(appendhtml)
                      //
                    })
                }, 1000);

                $('#watch').on('click', function (event) {
                    var itemtype = $("#itemtype").val();
                    $.ajax({
                        url: "{% url 'watch' %}",
                        method: 'POST',
                        dataType: 'json',
                        data: {
                            csrfmiddlewaretoken: "{{ csrf_token }}",
                            itemtype: itemtype
                        }
                    }).done(function (response) {
                        $('#exampleModal3').modal('toggle');
                        $('#notification').text(response.msg);
                    });
                    event.preventDefault();
                });

                $('#startauc').on('click', function (event) {
                    var modaltitletxt = $('#exampleModalLabel')
                    modaltitletxt.text("Start Auction")
                    var modaltxt = $('#modaltext')
                    modaltxt.text("Stop Bid:")
                    var modelbuttontxt = $('#start')
                    modelbuttontxt.text("Start")
                    event.preventDefault();
                });
                $('#history').on('click', function (event) {
                    var itemid = checkedid;
                    $.ajax({
                        url: "{% url 'history' %}",
                        method: 'POST',
                        dataType: 'json',
                        data: {
                            csrfmiddlewaretoken: "{{ csrf_token }}",
                            itemid: itemid
                        }
                    }).done(function (response) {
                        var history = JSON.parse(response.msg)
                        history.forEach(element => {
                            console.log(element.fields)
                            $('#modal-history').append("<div style='text-align:left'>-" + JSON.stringify(element.fields) + "</div>")
                        });
                    });
                    event.preventDefault();
                });
                $('#report').on('click', function (event) {
                    $.ajax({
                        url: "{% url 'report' %}",
                        method: 'POST',
                        dataType: 'json',
                        data: {
                            csrfmiddlewaretoken: "{{ csrf_token }}"
                        }
                    }).done(function (response) {
                        $('#modal-report').append("<div style='text-align:left;white-space: pre-line;'>" + response.msg + "</div>");

                    });
                    event.preventDefault();
                });
              });
            </script>

        {% endblock %}
